In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('datasets/fires.csv')
print(data.shape)
data = data.dropna(subset=['DISCOVERY_DATE', 'FIRE_CODE', 'FIRE_NAME', "STATE", "COUNTY_NAME"])
data.head(10)

FileNotFoundError: [Errno 2] File datasets/fires.csv does not exist: 'datasets/fires.csv'

In [4]:
print(data.shape)

NameError: name 'data' is not defined

In [50]:
df_fire = data[['FIRE_CODE', 'FIRE_NAME', 'STATE', 'COUNTY_NAME']]
df_fire.head(3)

  FIRE_CODE       FIRE_NAME   STATE      COUNTY_NAME
0      BEV0   TONSINA CREEK  Alaska  Kenai Peninsula
1      BEV0  PETERSON CREEK  Alaska  Kenai Peninsula
2      BEV0     TWENTY MILE  Alaska  Kenai Peninsula

In [51]:
epoch = pd.to_datetime(0, unit='s').to_julian_date()
df_date = pd.to_datetime(data['DISCOVERY_DATE'] - epoch, unit='D')
df_date.head(3)

0   2005-04-28
1   2005-05-08
2   2005-05-09
Name: DISCOVERY_DATE, dtype: datetime64[ns]

In [52]:
df_fire = pd.concat([df_date, df_fire], axis=1)
df_fire.head(5)

  DISCOVERY_DATE FIRE_CODE       FIRE_NAME   STATE      COUNTY_NAME
0     2005-04-28      BEV0   TONSINA CREEK  Alaska  Kenai Peninsula
1     2005-05-08      BEV0  PETERSON CREEK  Alaska  Kenai Peninsula
2     2005-05-09      BEV0     TWENTY MILE  Alaska  Kenai Peninsula
3     2007-06-01      C63B       MOTORHOME  Alaska  Kenai Peninsula
4     2007-06-09      C63B           POWER  Alaska  Kenai Peninsula

In [56]:
df_fire_count = df_fire[['STATE', 'FIRE_CODE']].groupby('STATE').count()
df_fire_count = df_fire_count.rename(columns={'FIRE_CODE': 'FIRE_COUNT'})
df_fire_count.sort_values(by=['FIRE_COUNT'], inplace=True, ascending=False)
df_fire_count.head(10)

            FIRE_COUNT
STATE
California       31176
Oregon           19124
Arizona          18034
Idaho            15867
Utah             12128
Colorado         11970
Montana          10520
Nevada           10291
New Mexico        8357
Washington        5732