In [100]:
import pandas

In [101]:
df_original = pd.read_csv("datasets/fires_dates_fixed.csv")

/home/froi/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [102]:
columns = ["FIRE_NAME", "FIRE_YEAR", "FIRE_SIZE", "DISCOVERY_DATE", "CONT_DATE", "STAT_CAUSE_DESCR", "STATE", "COUNTY_NAME", "FIPS_STATE", "FIPS_CODE"]

In [103]:
df = df_original[columns]
df

,FIRE_NAME,FIRE_YEAR,FIRE_SIZE,DISCOVERY_DATE,CONT_DATE,STAT_CAUSE_DESCR,STATE,COUNTY_NAME,FIPS_STATE,FIPS_CODE
0,TONSINA CREEK,2005,2.3,2005-04-28,2005-04-29,Campfire,Alaska,Kenai Peninsula,2,122
1,PETERSON CREEK,2005,2.5,2005-05-08,2005-05-10,Miscellaneous,Alaska,Kenai Peninsula,2,122
2,TWENTY MILE,2005,0.1,2005-05-09,2005-05-09,Debris Burning,Alaska,Kenai Peninsula,2,122
3,MOTORHOME,2007,0.1,2007-06-01,2007-06-01,Miscellaneous,Alaska,Kenai Peninsula,2,122
4,POWER,2007,0.1,2007-06-09,2007-06-09,Campfire,Alaska,Kenai Peninsula,2,122
...,...,...,...,...,...,...,...,...,...,...
1201225,1189,2014,0.1,2014-10-07,2014-10-07,Miscellaneous,Wyoming,Laramie,56,21
1201226,PERSHING,2015,1.0,2015-07-31,2015-07-31,Lightning,Wyoming,Laramie,56,21
1201227,MM-27.5,2015,3.0,2015-07-17,2015-07-17,Equipment Use,Wyoming,Laramie,56,21
1201228,NaN,2015,1.0,2015-03-11,2015-03-11,Smoking,Wyoming,Laramie,56,21
1201229,MARTIN GAIL,2015,2.0,2015-02-02,2015-02-02,Miscellaneous,Wyoming,Laramie,56,21

## Number of Fires by Year

Seems to roughly match the statistics from https://fas.org/sgp/crs/misc/IF10244.pdf for the year 2015

In [106]:
fires_by_year = df.groupby("FIRE_YEAR")

In [107]:
fires_by_year.size()

FIRE_YEAR
1992    33773
1993    33977
1994    36075
1995    40816
1996    41483
1997    24261
1998    23598
1999    32295
2000    39843
2001    37670
2002    33562
2003    40419
2004    43999
2005    62889
2006    88106
2007    73367
2008    70146
2009    63803
2010    63121
2011    72489
2012    62442
2013    58411
2014    61341
2015    63344
dtype: int64

In [108]:
# Number of acres burned by year
acres_burned_by_year = df.groupby("FIRE_YEAR")
acres_burned_by_year['FIRE_SIZE'].sum()

FIRE_YEAR
1992    4.330941e+05
1993    4.017944e+05
1994    6.329064e+05
1995    5.131534e+05
1996    8.243400e+05
1997    2.771874e+05
1998    6.011231e+05
1999    3.026783e+06
2000    3.038503e+06
2001    2.139176e+06
2002    1.836951e+06
2003    1.755565e+06
2004    1.040198e+06
2005    3.944271e+06
2006    8.253112e+06
2007    7.266372e+06
2008    4.516456e+06
2009    2.546274e+06
2010    1.968821e+06
2011    6.128886e+06
2012    7.936838e+06
2013    2.888591e+06
2014    3.181756e+06
2015    6.260638e+06
Name: FIRE_SIZE, dtype: float64

In [87]:
fires_by_year.get_group(2006)

,FIRE_NAME,FIRE_YEAR,FIRE_SIZE,DISCOVERY_DATE,CONT_DATE,STAT_CAUSE_DESCR,STATE,COUNTY_NAME,FIPS_STATE,FIPS_CODE
30,HANGER FIRE,2006,0.1,2006-05-23,2006-05-23,Debris Burning,Alaska,Kenai Peninsula,2,122
31,DUNLEAVEY FIRE,2006,0.1,2006-05-25,2006-05-25,Debris Burning,Alaska,Kenai Peninsula,2,122
32,FIRECRACKER,2006,0.1,2006-07-04,2006-07-04,Campfire,Alaska,Kenai Peninsula,2,122
33,GWINS FIRE,2006,0.1,2006-07-10,2006-07-10,Campfire,Alaska,Kenai Peninsula,2,122
34,MILE 15.5 FIRE,2006,0.1,2006-08-07,2006-08-08,Campfire,Alaska,Kenai Peninsula,2,122
...,...,...,...,...,...,...,...,...,...,...
1200576,GOOSE EGG,2006,0.1,2006-08-06,2006-08-06,Lightning,Wyoming,Natrona,56,25
1200577,PITCH PINE,2006,1.5,2006-08-07,2006-08-09,Lightning,Wyoming,Natrona,56,25
1200578,JACKSON CANYON,2006,11765.0,2006-08-14,2006-08-29,Lightning,Wyoming,Natrona,56,25
1200579,WIENKE,2006,0.1,2006-08-19,2006-08-19,Lightning,Wyoming,Natrona,56,25
1200637,DRY DRAW,2006,0.5,2006-06-07,2006-06-07,Lightning,Wyoming,Natrona,56,25

## Investigate Stated Causes of Fires

In [88]:
fires_2006 = fires_by_year.get_group(2006)
fires_1998 = fires_by_year.get_group(1998)

causes_2006 = fires_2006.groupby("STAT_CAUSE_DESCR")
causes_1998 = fires_1998.groupby("STAT_CAUSE_DESCR")

In [89]:
causes_1998.size().sort_values(ascending=False)

STAT_CAUSE_DESCR
Arson                4488
Debris Burning       4392
Lightning            4030
Miscellaneous        2786
Equipment Use        2265
Railroad             1393
Missing/Undefined    1200
Campfire             1021
Children              808
Smoking               802
Powerline             257
Fireworks             107
Structure              49
dtype: int64

In [90]:
causes_2006.size().sort_values(ascending=False)

STAT_CAUSE_DESCR
Debris Burning       22261
Miscellaneous        17147
Lightning            14172
Arson                13074
Equipment Use         7205
Missing/Undefined     6214
Smoking               2373
Children              2317
Campfire              2221
Railroad               901
Powerline              163
Fireworks               41
Structure               17
dtype: int64

### Top 20 state-counties with the most wildfires in 2006

In [91]:
# We can groupby FIPS_STATE and FIPS_CODE, but easier for humans to read if we groupby STATE, COUNTY_NAME
county_state_2006 = fires_2006.groupby(["STATE", "COUNTY_NAME"])
county_state_2006.size().sort_values(ascending=False)[:20]

STATE       COUNTY_NAME
New York    Suffolk        738
Arizona     Coconino       669
Hawaii      Honolulu       550
New York    Orange         381
Minnesota   St Louis       347
Texas       Atascosa       346
New York    Nassau         337
Oregon      Grant          333
Idaho       Idaho          325
Arizona     Mohave         318
New York    Erie           313
Texas       Wood           309
California  Riverside      308
New York    Monroe         305
Louisiana   Beauregard     300
Alabama     Mobile         297
Montana     Lincoln        292
Louisiana   St Tammany     289
Texas       Smith          283
California  Los Angeles    283
dtype: int64

Top 10 states with the most wildfires in 2006

In [92]:
# We can groupby FIPS_STATE and FIPS_CODE, but easier for humans to read if we groupby STATE, COUNTY_NAME
state_2006 = fires_2006.groupby(["STATE"])
state_2006.size().sort_values(ascending=False)[:10]

STATE
Texas             14597
Georgia            8868
New York           6610
North Carolina     5010
Florida            4723
Alabama            3936
California         3367
Oregon             3036
Louisiana          3013
South Carolina     2836
dtype: int64

In [104]:
# Top 10 states with most wildfires alltime 1992-2015
state = df.groupby(["STATE"])
state.size().sort_values(ascending=False)[:10]

STATE
Georgia           150234
Texas             136462
Florida            83601
New York           80018
California         56221
South Carolina     53341
Mississippi        48295
North Carolina     47592
Alabama            41560
Oregon             40178
dtype: int64

### States with most acres burned based on fire size

In [105]:
state["FIRE_SIZE"].sum().sort_values(ascending=False)[:20]

STATE
Idaho          9.591734e+06
Texas          7.953988e+06
Nevada         7.421757e+06
California     6.524384e+06
Oregon         5.792585e+06
New Mexico     4.187921e+06
Montana        3.628712e+06
Washington     3.057350e+06
Florida        3.032167e+06
Utah           2.886954e+06
Arizona        2.553902e+06
Alaska         2.285323e+06
Oklahoma       1.530667e+06
Wyoming        1.501708e+06
Colorado       1.208078e+06
Minnesota      8.183956e+05
Kansas         7.970291e+05
Georgia        7.519269e+05
Mississippi    7.162935e+05
Alabama        5.979095e+05
Name: FIRE_SIZE, dtype: float64

### California acres burned by year

In [117]:
CA = df[df["STATE"] == "California"]
AL = df[df["STATE"] == "Alaska"]
ID = df[df["STATE"] == "Idaho"]

In [113]:
CA.groupby("FIRE_YEAR")["FIRE_SIZE"].sum()

FIRE_YEAR
1997         14.90
1998      15709.70
1999      73361.80
2000      41184.70
2001      95824.30
2002     138900.50
2003     283607.74
2004      95108.67
2005      60821.50
2006     672051.94
2007     910144.52
2008    1176897.80
2009     356014.33
2010      81301.26
2011      84625.69
2012     711661.13
2013     544348.06
2014     507431.63
2015     675373.61
Name: FIRE_SIZE, dtype: float64

In [116]:
AL.groupby("FIRE_YEAR")["FIRE_SIZE"].sum()

FIRE_YEAR
1997          2.00
2004          0.50
2005        353.25
2006          5.20
2007          4.00
2008          1.20
2009         22.27
2010         14.10
2012          1.20
2013        136.10
2014     198275.08
2015    2086507.76
Name: FIRE_SIZE, dtype: float64

In [118]:
ID.groupby("FIRE_YEAR")["FIRE_SIZE"].sum()

FIRE_YEAR
1992       3196.00
1993        842.70
1994      11735.00
1995       1545.60
1996      27623.10
1997       1432.30
1998       9781.60
1999     382231.42
2000     589100.98
2001     163844.82
2002      72382.15
2003     201862.93
2004      11709.78
2005     600871.83
2006     903992.13
2007    2068452.94
2008     168701.06
2009      23432.81
2010     642887.96
2011     232460.61
2012    1772657.44
2013     738809.00
2014     195085.87
2015     767094.21
Name: FIRE_SIZE, dtype: float64